a.episode href="#{episode_path(episode.pretty_number)}" style="background-image:url(#{image_path "episodes/unh#{episode.pretty_number}.jpg"})"
  h3
    small Episode ##{episode.number}
    =episode.title