= image_tag "contact.jpg", :alt => "", :class => "main"

h2 Contact
p Send us a message on #{link_to "Facebook", "http://www.facebook.com/unclenagyshouse"} or #{link_to "Twitter", "http://twitter.com/unclenagy"} or just email #{mail_to "unclenagyshouse@gmail.com"}.