= image_tag "subscribe.jpg", :alt => "", :class => "main"

h2 Subscribe
p Receive new episodes of Uncle Nagy's House automatically by subscribing with #{link_to "iTunes", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=118185201", :class => "itunes"}, #{link_to "Miro", "http://subscribe.getmiro.com/?url1=http%3A%2F%2Ffeeds.feedburner.com%2Funh-itunes", :class => "miro"}, or any other #{link_to "podcatcher", "http://en.wikipedia.org/wiki/List_of_podcatchers"} via #{link_to "RSS", "http://feeds.feedburner.com/unh-itunes"}.